{{template "head" .}}
{{$d := .Data}}
<h1>{{t "tag.title" $d.Tag}} <span class="count">{{len $d.Pages}}</span></h1>
{{if $d.Pages}}
<ul class="rows articles">
{{range $d.Pages}}
  <li><a href="/wiki/{{.Slug}}">{{.Title}}</a>
      <span class="row-meta">
        {{range .Tags}}<a class="tag" href="/tags/{{.}}">{{.}}</a>{{end}}
        <span class="when">{{shortTime .UpdatedAt}}</span>
      </span></li>
{{end}}
</ul>
{{else}}<div class="empty">{{t "tag.empty"}}</div>{{end}}
{{template "foot" .}}
